!!!
%html
  %head
    %title Filmy
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    %h4
      = flash[:notice]
    = yield